$white: #fff;
$whiteTinted: rgb(246, 246, 246);
$whiteHover: rgb(234, 234, 234);
$black: #000;
$primary: #4870ff;
$primaryLight: #e6ebfd;
$danger: #da3535;
$background: #f0f0f0;
$elementBackground: #dadada;
$yellow: #ffb82f;
$header: #dedede;
$success: #2e7d32;
