@import "colors.scss";
.header {
    padding: 1rem 2rem;
    color: $black;
    background-color: $header;

    .nav {
        padding: 1rem;
    }

    ul {
        display: flex;
        list-style: none;
        margin-left: 0;
        padding-left: 0;
    }

    li {
        margin-right: 1rem;
        display: flex;
    }

    li:first-child {
        margin-left: auto;
    }

    a {
        color: $black;
        text-decoration: none;
        display: flex;
        align-items: center;

        span {
            padding-left: 5px;
        }
    }

    a img {
        margin-right: 1em;
    }
}

.headContainer {
    max-width: 65rem;
    margin: 0.5rem auto;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-flow: row wrap;
    }
}

.hamburger {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}

.containerFlex {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
    width: 100%;

    @media (max-width: 768px) {
        padding-top: 1rem;
        order: 4;
        width: 100%;
        justify-content: space-between;
    }
}
