@import "colors.scss";

.login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 101;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
        background-color: white;
        padding: 1rem;
        border-radius: 5px;
    }
    form {
        // margin-top: 6rem;
        padding: 1rem;
    }
}

.closeMenu {
    display: flex;
    padding: 0.5rem;
    justify-content: flex-end;
}
