@import "colors.scss";
.main {
    display: flex;
    gap: 1rem;

    // Navbar
    > ul {
        width: 300px;
        background-color: $white;
        border-radius: 5px;
        display: flex;
        flex-flow: column nowrap;
        li {
            span {
                padding-left: 5px;
            }
            border-bottom: 1px solid $background;
            a {
                display: inline-block;
                padding: 1rem;
                width: 100%;
            }
        }
        li:hover {
            background-color: $whiteHover;
        }
    }
    > div {
        width: 100%;
    }
}
