@import "colors.scss";

.grid {
    display: grid;
    grid-template:
        "left left right"
        "bottomleft bottomleft right";

    // grid-template:
    //     "title title stock"
    //     "title title buy"
    //     "img img buy"
    //     "img img reviews"
    //     "specs specs reviews";
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-columns: 1fr 1fr 1fr;
    > div {
        display: flex;
        gap: 1rem;
        flex-direction: column;

        > div {
            width: 100%;
            background-color: $white;
            padding: 1rem;
            align-self: start;
            border-radius: 5px;
        }
    }

    .left {
        grid-area: left;
    }
    .bottomleft {
        grid-area: bottomleft;
    }
    .right {
        grid-area: right;
    }

    // .title {
    //     grid-area: title;
    // }
    // .img {
    //     grid-area: img;
    // }
    // .specs {
    //     grid-area: specs;
    // }
    .stock {
        // grid-area: stock;
        p {
            padding-bottom: 0.5rem;
        }
    }
    .buy {
        // grid-area: buy;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding: 1rem 0.5rem;

        h3,
        h1 {
            margin: 0;
        }

        .buyBtn {
            margin-top: 0.5rem;
        }

        .oldprice {
            text-decoration: line-through;
        }

        .newprice {
            color: $danger;
        }
    }

    .reviews {
        grid-area: reviews;
    }

    @media only screen and (max-width: 1000px) {
        grid-template:
            "left"
            "right"
            "bottomleft";
    }
}
.speclist {
    padding: 0.5rem;
    ul {
        display: flex;
        flex-direction: column;
        // gap: 0.5rem;
        li {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            > * {
                flex: 1;
            }
            padding: 0.6rem;
            border-bottom: 1px solid $background;
        }
    }
}
