@import "colors.scss";

.grid {
    display: grid;
    grid-template:
        "title title stock"
        "title title buy"
        "img img buy"
        "img img reviews"
        "specs specs reviews"
        "specs specs .";
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-columns: 1fr 1fr 1fr;
    > div {
        background-color: $white;
        padding: 1rem;
        align-self: start;
        border-radius: 5px;
    }
    .title {
        grid-area: title;
    }
    .img {
        grid-area: img;
    }
    .specs {
        grid-area: specs;
    }
    .stock {
        grid-area: stock;
        p {
            padding-bottom: 0.5rem;
        }
    }
    .buy {
        grid-area: buy;
    }
    .reviews {
        grid-area: reviews;
    }
}
